{
  "ConnectionStrings": {
    "DefaultConnection": "Server=;Database=;User Id=;Password=;TrustServerCertificate=True;"
  },
  "Jwt": {
    "Key": "your-secret-key-here",
    "Issuer": "MinervaBackend",
    "Audience": "MinervaFrontend",
    "ExpiryMinutes": 1440
  }
}